<link href="app/components/users/usersStyle.css" rel="stylesheet"/>

<div class="container main">
  <div class="row">
    <div class="col s12">
      <h1 class="title">Interface de Usuario</h1>
    </div>
  </div>

  <div class="row">
    <div class="col s4">
      <div class="row">
        <h3 class="title">Input</h3>
      </div>
      <div class="row">
        <div class="input-field col 12" style="width:100%">
          <input id="text-input" type="text" class="validate" ng-model="input" style="width:100%">
          <label for="text-input">Usuario</label>
        </div>
      </div>
      <div class="row">
        <div class="col 12">
          <a class="waves-effect waves-light btn buscar-btn" ng-click="findUser(input)">Buscar</a>
        </div>
      </div>

    </div>
    <div class="col s8" style="padding-left:10%;">
      <div class="row">
        <h3 class="title">Result</h3>
      </div>
      <div class="row" ng-show="output">
        <div class="col s4">
          <p> Status : {{result.status}} </p>
          <p> message : {{result.message}} </p>
          <div ng-show= "result.status == 'ok'">
            <p> username : {{result.payload[0].username}} </p>
            <p> email : {{result.payload[0].email}} </p>
          </div>
        </div>
        <div class="col s4" ng-show="result.payload[0].devices.length">
          <p style="text-align: center;"> Devices</p>
          <p ng-repeat="device in result.payload[0].devices">{{device.name}}<p/>
        </div>
      </div>
    </div>
  </div>

</div>

<script>
  $(document).ready(function() {
    $('input#input_text, textarea#textarea2').characterCounter();
  });
</script>
